<%= link_to '<- back to upload', new_upload_path %>
<p><b>NOTE:</b> please periodically update page, results will be saved after few seconds.</p>
<table id="goods" class="display" data-source="<%= goods_url(format: "json") %>">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Price</th>
      <th>Additional Field 1</th>
      <th>Additional Field 2</th>
      <th>Additional Field 3</th>
      <th>Additional Field 4</th>
      <th>Additional Field 5</th>
      <th>Additional Field 6</th>
      <th>Supplier Code</th>
      <th>Supplier Name</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>